$background-black: #000000;
$background-white: #ffffff;
$background-grey: #C0CCDA;
$background-primary: #282c34;
$background-secondary: #fffcf6;

$snow: #F9FAFC;
$dark-snow: #EFF2F7;
$gold: gold;

$font-white: #ffffff;
$font-grey: #C0CCDA;
$font-grey-2: #3C4858;
$font-black: #000000;

$width-xs: 767px; // [0 - 767px]
$width-sm: 991px; // [768 - 991px]