$background-black: #000000;
$background-white: #ffffff;
$background-primary: #282c34;
$background-secondary: #fffcf6;

$font-white: #ffffff;
$font-grey: #C0CCDA;
$font-grey-2: #3C4858;
$font-black: #000000;