@import 'variables';
@import 'animations';

html {
  // set this to normalize rem unit
  font-size: 10px;
}
body {
  margin: 0;
  font-family: 'Lora', serif;
  font-size: 2rem;
  color: $font-grey;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  font-family: 'Spectral SC', serif;
  font-weight: 200;
  font-size: 6.4rem;
  color: $font-white;
  line-height: 6.4rem;
  letter-spacing: 1.6rem;
  padding-left: 1.6rem; // offsets letter spacing
  margin-top: 1rem;
  margin-bottom: 1rem;
}

a {
  &.link--social {
    color: $font-grey;
    font-size: 2rem;
    margin-left: 0.8rem;
    margin-right: 0.8rem;
  }
}

.section--hero {
  background-color: $background-primary;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  h1 {
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 3s;
    @include fade-in('1000ms');
  }
  p {
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 3s;
  }
  .socials {
    margin-top: 1rem;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 3s;
    @include fade-in('2000ms');
  }
}
