@import 'grid12';
@import 'variables';
@import 'animations';

html {
  // set this to normalize rem unit
  font-size: 10px;
  background-color: $background-primary;
  scroll-behavior: smooth;
}
body {
  margin: 0;
  font-family: 'Lora', serif;
  font-size: 2rem;
  line-height: 3rem;
  color: $font-grey-2;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

h1 {
  font-family: 'Spectral SC', serif;
  font-weight: 200;
  font-size: 6.4rem;
  color: $font-white;
  line-height: 6.4rem;
  // letter-spacing: 1.6rem;
  // padding-left: 1.6rem; // offsets letter spacing
  margin-top: 1rem;
  margin-bottom: 1rem;
}
h2{
  font-family: 'Spectral SC', serif;
  color: $font-black;
  font-size: 4rem;
  line-height: 5rem;
  font-weight: 500;
}
h3{
  font-family: 'Spectral SC', serif;
  color: $font-black;
  font-size: 3rem;
  line-height: 4rem;
  font-weight: 400;
}
h4{
  font-family: 'Spectral SC', serif;
  color: $font-grey;
  font-size: 2rem;
  line-height: 3rem;
  font-weight: 400;
}

span {
  &.logo {
    font-weight: 400;
    font-size: 2.4rem;
    font-family: 'Spectral SC', serif;
    color: $font-white;
    margin-right: 0.3rem;
  }
}

a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
  transition: 300ms all;

  &.link--social {
    color: $font-grey;
    font-size: 2rem;
    margin-left: 0.8rem;
    margin-right: 0.8rem;
    &:hover {
      color: $font-white;
    }
  }
  &.colored {
    color: #0077ff;
    &:hover {
      color: #0057bb;
    }
  }
}

img {
  max-width: 100%;
}

.navbar {
  z-index: 10;
  width: 100%;
  height: 7rem;
  position: fixed;
  color: $font-grey;
  background-color: $background-primary;
  font-size: 1.7rem;
  transition: 300ms all;
  box-shadow: 0 0 1rem 0 rgba(39, 39, 39, 0.7), 0 0 0 transparent;
  -moz-box-shadow: 0 0 1rem 0 rgba(39, 39, 39, 0.7), 0 0 0 transparent;
  -webkit-box-shadow: 0 0 1rem 0 rgba(39, 39, 39, 0.7), 0 0 0 transparent;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 3s;
  @include fade-in('1000ms');
  .navbar-controls {
    display: none;
    position: absolute;
    top: 0.5rem;
    right: 3rem;
    .arrow-down svg,.arrow-up svg{
      width: 4rem;
      height: 4rem;
    }
  }
  h3 {
    color: $font-white;
    margin: 0;
    font-size: 2rem;
  }
  * {
    display: inline-block;
  }
  .left {
    position: absolute;
    left: 2.5rem;
    top: 1.5rem;
    a {
      margin-right: 2rem;
      &:hover {
        color: $font-white;
      }
    }
  }
  .right {
    position: absolute;
    right: 0;
    top: 0;
    a.link--social {
      transform: translateY(0.6rem);
    }
    .button {
      margin-top: 0.9rem;
      margin-left: 1.6rem;
      background-color: $background-primary;
      box-shadow: 0 0 3rem 0 rgba(0, 0, 0, 0.3), 0 0 0 transparent;
      -moz-box-shadow: 0 0 3rem 0 rgba(0, 0, 0, 0.3), 0 0 0 transparent;
      -webkit-box-shadow: 0 0 3rem 0 rgba(0, 0, 0, 0.3), 0 0 0 transparent;
      &:hover{
        box-shadow: 0 0 3rem 0 rgba(0, 0, 0, 0.1), 0 0 0 transparent;
        -moz-box-shadow: 0 0 3rem 0 rgba(0, 0, 0, 0.1), 0 0 0 transparent;
        -webkit-box-shadow: 0 0 3rem 0 rgba(0, 0, 0, 0.1), 0 0 0 transparent;
      }
    }
    .button--wallet {
      font-family: 'Lora', serif;
      color: $font-grey;
      display: inline-block;
      margin-right: 2.5rem;
      &:hover{
        background-image: none;
      }
      i {
        display: inline;
      }
      img {
        // hack to make icon sit right
        margin-bottom: -0.5rem;
        display: inline;
      }
    }
  }
  &.secondary {
    background-color: $background-secondary;
    color: $font-grey-2;
    box-shadow: 0 0 3rem 0 rgba(226, 226, 226, 0.7), 0 0 0 transparent;
    -moz-box-shadow: 0 0 3rem 0 rgba(226, 226, 226, 0.7), 0 0 0 transparent;
    -webkit-box-shadow: 0 0 3rem 0 rgba(226, 226, 226,0.7), 0 0 0 transparent;
    .button {
      background-color: $background-white;
      box-shadow: 0 0 3rem 0 rgba(0, 0, 0, 0.1), 0 0 0 transparent;
      -moz-box-shadow: 0 0 3rem 0 rgba(0, 0, 0, 0.1), 0 0 0 transparent;
      -webkit-box-shadow: 0 0 3rem 0 rgba(0, 0, 0, 0.1), 0 0 0 transparent;
      &:hover{
        box-shadow: 0 0 3rem 0 rgba(0, 0, 0, 0.05), 0 0 0 transparent;
        -moz-box-shadow: 0 0 3rem 0 rgba(0, 0, 0, 0.05), 0 0 0 transparent;
        -webkit-box-shadow: 0 0 3rem 0 rgba(0, 0, 0, 0.05), 0 0 0 transparent;
      }
    }
    .button--wallet {
      color: $font-grey-2;
    }
    h3 {
      color: $font-black;
    }
    a {
      color: $font-grey-2;
      &:hover {
        color: $font-black;
      }
    }
  }
}
@media only screen and (max-width: $width-xs) {
  .navbar {
    height: 5rem;
    text-align: center;
    a {
      margin-bottom: 2rem;
      &.logo {
        margin-top: 0.6rem;
      }
    }
    a:not(.link--social) {
      display: block;
    }
    .left {
      position: static;
      a:not(.logo) {
        display: none;
      }
    }
    .right {
      display: none;
      position: static;
    }
    .navbar-controls {
      display: block;
      .arrow-down {
        display: block;
      }
      .arrow-up {
        display: none;
      }
    }
    &.open {
      height: auto;
      .left {
        a:not(.logo) {
          display: block;
        }
      }
      .right {
        display: block;
        .button {
          margin-right: 2rem;
        }
        .wallet-adapter-button, .wallet-adapter-dropdown {
          display: block;
          margin-left: auto;
          margin-right: auto;
        }
        .button--wallet {
          margin-bottom: 4rem;
        }
      }
      .navbar-controls {
        display: block;
        .arrow-down {
          display: none;
        }
        .arrow-up {
          display: block;
        }
      }
    }
  }
}

.section--hero {
  background-color: $background-primary;
  min-height: 100vh;
  padding: 2rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  // h1 {
  //   text-shadow: 0.2rem 0.4rem 0.5rem rgba(20, 20, 20, 0.3);
  //   animation-iteration-count: 1;
  //   animation-timing-function: ease-in;
  //   animation-duration: 3s;
  //   @include fade-in('500ms');
  // }
  p {
    max-width: 55rem;
    text-shadow: 0.2rem 0.4rem 0.5rem rgba(20, 20, 20, 0.3);
    color: $font-grey;
    margin-top: 0;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 3s;
    @include fade-in('500ms');
  }
  img {
    width: 40rem;
    -webkit-filter: drop-shadow(0.5rem 0.5rem 0.5rem #222222);
    filter: drop-shadow(0.5rem 0.5rem 0.5rem #222222);
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
  }
}
.section {
  padding-top: 10rem;
  padding-bottom: 10rem;
  background-color: $background-secondary;

  &--roadmap {
    .card-navigation {
      margin: 0 auto;
      position: relative;
      max-width: 100rem;
      a {
        z-index: 5;
        margin-top: 40rem;
        position: absolute;
        display: block;
        border-radius: 50%;
        width: 6rem;
        height: 6rem;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 300ms all;
        &:hover {
          background-color: rgba(192, 192, 192, 0.3);
        }
        svg {
          width: 10rem;
          height: 10rem;
        }
        &:nth-child(1) {
          left: 0;
        }
        &:nth-child(2) {
          right: 0;
        }
        &.disabled {
          color: $font-grey;
          &:hover {
            background-color: rgba(192, 192, 192, 0) !important;
          }
        }
      }
    }
    .cards {
      position: relative;
      height: 90rem;
    }
    .card {
      position: absolute;
      left: 50%;
      transform: translate(-50%, 0);
      display: inline-block;
      min-height: 76rem;
      width: 60rem;
      margin-top: 10rem;
      background-color: $background-white;
      padding: 3rem 6.5rem 5rem;
      box-shadow: 0 0 3rem 0 rgba(226, 226, 226, 0.3), 0 0 0 transparent;
      -moz-box-shadow: 0 0 3rem 0 rgba(226, 226, 226, 0.3), 0 0 0 transparent;
      -webkit-box-shadow: 0 0 3rem 0 rgba(226, 226, 226,0.3), 0 0 0 transparent;
      transition: 500ms all;
      h3 {
        margin-top: 1rem;
      }
      h4 {
        margin-bottom: 0;
        text-transform: uppercase;
        font-size: 1.6rem;
      }
      img {
        width: 40rem;
        display: block;
        margin-left: auto;
        margin-right: auto;
      }
      &:nth-child(1){
        z-index: 4;
      }
      &:nth-child(2){
        z-index: 3;
        transform: translate(-50%, 0) rotate(5deg);
      }
      &:nth-child(3){
        z-index: 2;
        transform: translate(-50%, 0) rotate(-3deg);
      }
      &:nth-child(4){
        z-index: 1;
        transform: translate(-50%, 0) rotate(3deg);
      }
    }
    .flipped {
      opacity: 0;
      transform: translate(-120%, 0) rotate(-20deg) !important;
    }
    .illustration {
      display: block;
      margin: 10rem auto 0;
      max-width: 100%;
      width: 80rem;
    }
  }

  &--races {
    img {
      display: inline;
      width: 20rem;
      margin-right: 1rem;
      box-shadow: 0 0 0.3rem 0 rgba(226, 226, 226, 0.5), 0 0 0 transparent;
      -moz-box-shadow: 0 0 0.3rem 0 rgba(226, 226, 226, 0.5), 0 0 0 transparent;
      -webkit-box-shadow: 0 0 0.3rem 0 rgba(226, 226, 226,0.5), 0 0 0 transparent;
    }
    .race-avatars {
      text-align: center;
      margin-top: 6rem;
    }
  }

  &--community {
    background-image: url();
    background: 
      linear-gradient(
        rgba(255, 255, 255, 0.7), 
        rgba(255, 255, 255, 0.7)
      ),
      url("https://magazine.artstation.com/wp-content/uploads/2018/11/file-2-1-e1543433699301.jpg")
      no-repeat;
    background-size: cover;
  }

  &--footer {
    font-size: 1.6rem;
    color: $font-grey;
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-color: $background-primary;

    h3 {
      color: $font-white;
      margin: 1.6rem 0;
      line-height: 1rem;
    }
    .copyright {
      margin-top: 5rem;
      color: $font-grey-2;
    }
    .navigation {
      margin-bottom: 4rem;
      a {
        display: block;
        &:hover {
          color: $font-white;
        }
      }
    }
  }
}
@media only screen and (max-width: $width-xs) {
  .section {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  .section--roadmap {
    .card-navigation {
      display: none;
    }
    .cards {
      position: static;
      height: auto;
      .card {
        position: static;
        transform: none;
        width: 100%;
        height: auto;
        min-height: 0;
        padding: 3rem 4rem 3.6rem;
        margin-top: 1rem;
      }
    }
  }
}

.content {
  margin-left: auto;
  margin-right: auto;
  max-width: 110rem;
  padding: 2rem 4rem;
}
.container-row {
  margin-bottom: 20rem;
}
@media only screen and (max-width: $width-xs) {
  .content {
    padding: 1rem 1rem;
  }
}

.crest {
  display: block;
  width: 40rem;
  margin-left: auto;
  margin-right: auto;
  // -webkit-filter: drop-shadow(0.5rem 0.5rem 0.5rem #222222);
  // filter: drop-shadow(0.5rem 0.5rem 0.5rem #222222);
  box-shadow: 0 0 0.3rem 0 rgba(226, 226, 226, 0.5), 0 0 0 transparent;
  -moz-box-shadow: 0 0 0.3rem 0 rgba(226, 226, 226, 0.5), 0 0 0 transparent;
  -webkit-box-shadow: 0 0 0.3rem 0 rgba(226, 226, 226,0.5), 0 0 0 transparent;
}

// carousel
$img-w: 3360px;
$img-h: 840px;
$shrink: 2;
$ratio: 1 / $shrink;
$speed: 50s;

.slider {
  width: 100%;
  top: calc(50% - #{$img-h * $ratio / 2});
  overflow: hidden;
  box-shadow: 0 0 3rem 0 rgba(226, 226, 226, 0.5), 0 0 0 transparent;
  -moz-box-shadow: 0 0 3rem 0 rgba(226, 226, 226, 0.5), 0 0 0 transparent;
  -webkit-box-shadow: 0 0 3rem 0 rgba(226, 226, 226,0.5), 0 0 0 transparent;
  .slider-row {
    width: 100%;
    height: $img-h * $ratio;
    background-image: url('./img/placeholder-banner.png');
    background-size: $img-w * $ratio $img-h * $ratio;
    animation: slide $speed linear infinite;
  }
}
@keyframes slide {
  from { background-position-x: 0; }
  to   { background-position-x: -$img-w * $ratio; }
}

@media only screen and (max-width: $width-xs) {
  $shrink: 5;
  $ratio: 1 / $shrink;

  .slider {
    top: calc(50% - #{$img-h * $ratio / 2});
    .slider-row {
      height: $img-h * $ratio;
      background-size: $img-w * $ratio $img-h * $ratio;
      animation: slide $speed linear infinite;
    }
  }

  @keyframes slide {
    from { background-position-x: 0; }
    to   { background-position-x: -$img-w * $ratio; }
  }
}

.profile-card {
  margin-top: 10rem;
  background-color: $background-white;
  width: 100%;
  box-shadow: 0 0 3rem 0 rgba(226, 226, 226, 0.5), 0 0 0 transparent;
  -moz-box-shadow: 0 0 3rem 0 rgba(226, 226, 226, 0.5), 0 0 0 transparent;
  -webkit-box-shadow: 0 0 3rem 0 rgba(226, 226, 226,0.5), 0 0 0 transparent;
  img {
    width: 100%;
  }
  .content-chunk {
    padding: 3rem 6.5rem 5rem;
    h4 {
      color: $font-black;
      span.title {
        color: $font-grey-2;
        text-transform: lowercase;
        font-weight: 200;
      }
    }
    a {
      &.link--social {
        color: $font-grey-2;
        margin-left: 0;
      }
    }
  }
}
@media only screen and (max-width: $width-xs) {
  .profile-card {
    margin-top: 2rem;
    .content-chunk {
      padding: 1rem 4rem 3rem;
    }
  }
}

.button{
  background: #fff;
  display: inline-block;
  height: auto;
  width: auto;
	padding: 1rem 2rem;
	border-radius: 0.5rem;
	text-decoration: none;
  text-align: center;
	font-size: 1.6rem;
  font-weight: 700;
  transition: 300ms all;
  box-shadow: 0 0 3rem 0 rgba(229,232,235,0.5), 0 0 0 transparent;
  -moz-box-shadow: 0 0 3rem 0 rgba(229,232,235,0.5), 0 0 0 transparent;
	-webkit-box-shadow: 0 0 3rem 0 rgba(229,232,235,0.5), 0 0 0 transparent;
  &:hover{
    transform: translateY(0.2rem);
    transition: 300ms all;
    box-shadow: 0 0 3rem 0 rgba(229,232,235,0.1), 0 0 0 transparent;
    -moz-box-shadow: 0 0 3rem 0 rgba(229,232,235,0.1), 0 0 0 transparent;
    -webkit-box-shadow: 0 0 3rem 0 rgba(229,232,235,0.1), 0 0 0 transparent;
  }
}

.text {
  &--center {
    text-align: center;
  }
}

.margin-bottom-10 {
  margin-bottom: 10rem;
}
